body {
    background: linear-gradient(to right, rgb(31, 37, 112), #702dac) fixed;
    color: #d8dce3;
    font-family: "Garamond", serif;
}

.slideshowImages {
    background-size: cover;
    background: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.5) 50%) center;
}

.slideshowImages img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw;
    height: 35vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 60% 100%, 0% 100%);
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.slideshowImages img.active {
    opacity: 1;
}

#title {
    position: absolute;
    top: -3vh;
    right: 7.5vw;
    font-style: italic;
    font-size: 6vw;
}

#subheading {
    position: absolute;
    top: 20vh;
    right: 1vw;
    width: 52.5vw;
    font-family: "Palatino Linotype", serif;
    font-size: 1.3vw;
    text-align: center;
}

#latest-news {
    position: absolute;
    top: 42vh;
    left: 5vw;
}

#best-of-2023 {
    position: absolute;
    top: 100vh;
    left: 5vw;
}

#latest-news h3 {
    font-size: 200%;
    margin: 0;
}

#best-of-2023 h3 {
    font-size: 200%;
    margin: 0;
}

.articles {
    position: absolute;
    width: 25vw;
}

.articles h4 {
    font-size: 120%;
    margin-bottom: 0;
}

.articles img {
    width: 25vw;
    height: 30vh;
}

.articles p:nth-of-type(2) {
    margin-top: 0.25vw;
    color: #bcb8b8;
}

.article-two {
    left: 32.5vw;
}

.article-three {
    left: 65vw;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}

.tour-rankings {
    position: absolute;
    top: 155vh;
    left: 5vw;
    width: 40vw;
}

.tour-rankings h3 {
    font-size: 200%;
}

.tour-rankings table {
    border-spacing: 0 10px;
    background: white;
    border-radius: 1vw;
    color: #151414;
}

#wta-rankings {
    left: 55vw;
}

.rankings-table-heading th {
    width: 10vw;
    text-align: left;
    font-size: 150%;
}

.rankings-table-heading td {
    width: 10vw;
    padding-top: 50vh;

}