/* Overall page */
body {
    background: linear-gradient(to right, rgb(31, 37, 112), #702dac) fixed;
    color: #d8dce3;
    font-family: "Garamond", serif;
}


/* Slideshow */
.slideshowImages {
    background-size: cover;
    background: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.5) 50%) center;
}

.slideshowImages img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw;
    height: 35vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 60% 100%, 0% 100%);
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.slideshowImages img.active {
    opacity: 1;
}


/* Heading */
#title {
    position: absolute;
    top: -3vh;
    right: 7.5vw;
    font-style: italic;
    font-size: 6vw;
}

#subheading {
    position: absolute;
    top: 20vh;
    right: 1vw;
    width: 52.5vw;
    font-family: "Palatino Linotype", serif;
    font-size: 1.3vw;
    text-align: center;
}


/* Rows of articles */
.article-list {
    position: absolute;
    left: 5vw;
}

.article-list h3 {
    font-size: 200%;
    margin: 0;
}

#latest-news {
    top: 42vh;
}

#best-of-2023 {
    top: 102.5vh;
}

.articles {
    position: absolute;
    width: 25vw;
}

.articles h4 {
    font-size: 120%;
    margin-bottom: 0;
}

.articles img {
    width: 25vw;
    height: 30vh;
}

.articles p:nth-of-type(2) {
    margin-top: 0.25vw;
    color: #bcb8b8;
}

.article-two {
    left: 32.5vw;
}

.article-three {
    left: 65vw;
}


/* Clickable links */
.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* Ranking tables */
.tour-rankings {
    position: absolute;
    top: 160vh;
    left: 5vw;
    width: 40vw;
}

.tour-rankings h3 {
    text-align: center;
    font-size: 200%;
}

.tour-rankings table {
    border-spacing: 0 10px;
    background: white;
    border-radius: 2vw;
    color: #151414;
    font-family: "Corbel Light", serif;
    font-weight: bold;
    text-align: center;
}

.tour-rankings h2 {
    text-align: center;
}

#wta-rankings {
    right: 5vw;
    left: auto;
}

.rankings-table-heading th {
    width: 10vw;
    font-size: 175%;
    color: blue;
    padding-bottom: 1.5vh;
}

.tour-rankings table td {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 1.5vh;
}

#atp-table tr:last-child td, #wta-table tr:last-child td {
    border: none;
    padding-bottom: 1vh;
}